<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <script th:src="@{/js/jquery.min.js}" src="../static/js/jquery.min.js"></script>
    <script th:src="@{/js/bootstrap3/js/bootstrap.js}" src="../static/js/bootstrap3/js/bootstrap.js"></script>
    <link rel="stylesheet" th:href="@{/js/bootstrap3/css/bootstrap.css}" href="../static/js/bootstrap3/css/bootstrap.css"/>
    <link rel="stylesheet" th:href="@{/js/bootstrap-treeview/bootstrap-treeview.min.css}" href="../static/js/bootstrap-treeview/bootstrap-treeview.min.css"/>
    <script th:src="@{/js/bootstrap-treeview/bootstrap-treeview.min.js}" src="../static/js/bootstrap-treeview/bootstrap-treeview.min.js"></script>
    <link rel="stylesheet" th:href="@{/js/bootStrap-addTabs/bootstrap.addtabs.css}" href="../static/js/bootStrap-addTabs/bootstrap.addtabs.css"/>
    <script th:src="@{/js/bootStrap-addTabs/bootstrap.addtabs.js}" src="../static/js/bootStrap-addTabs/bootstrap.addtabs.js"></script>
    <link th:href="@{/js/bootstrap-table/bootstrap-table.css}" rel="stylesheet" href="../static/js/bootstrap-table/bootstrap-table.css"/>
    <script th:src="@{/js/bootstrap-table/bootstrap-table.js}" src="../static/js/bootstrap-table/bootstrap-table.js"></script>
    <script th:src="@{/js/bootstrap-table/locale/bootstrap-table-zh-CN.js}" src="../static/js/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>
    <script th:src="@{/js/bootstrap-bootbox/bootbox.min.js}" src="../static/js/bootstrap-bootbox/bootbox.min.js"></script>
    <script th:src="@{/js/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js}" src="../static/js/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
    <script th:src="@{/js/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js}" src="../static/js/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
    <link th:href="@{/js/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css}" rel="stylesheet" href="../static/js/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css"/>
</head>
<body>
<button onclick="openAddDialog()" type="button" class="btn btn-info">发布职位</button>
<div class="table" id="myTable"></div>
<div class="table" id="myTablee"></div>
</body>
<script>

    $(function(){
        initRest();
    })


    function updatePosition(){
        $.ajax({
            url:'../rest/savePosition',
            type:'post',
          //  data:$("#PositioinForm").serialize(),
            success:function (data) {
                $("#myTablee").html(data)
            }
            // success:function(data){
            //     alert(data)
            // //    $('#myTable').bootstrapTable('refresh')
            //
            //
            //
            // }

        })
    }

   var res;
    function createAddContent(url){
        $.ajax({
            url:url,
            async:false,
            success:function(data){
                res = data;
            }
        });
        return res;
    }
    function initRest(){
    $('#myTable').bootstrapTable({
        url:'../rest/bootstrapGetRestList',//获取数据地址
        method:'post',
        contentType:'application/x-www-form-urlencoded',//post请求按照表单方式
        pagination:true, //是否展示分页
        pageList:[2, 5, 10, 20],//分页组件
        pageNumber:1,
        pageSize:2,//默认每页条数
        sidePagination:'server',//分页方式：client客户端分页，server服务端分页（*
        striped:true,
        queryParams:function(){
            return {
                page: this.pageNumber,
                rows: this.pageSize,
            };
        },
        columns:[
            {field:'positionpost',title:'招聘岗位',align:'center',width:150},
            {field:'positionname',title:'企业名称',width:150},
            {field:'positioncount',title:'招聘人数',width:150},
            {field:'positionIntegral',title:'悬赏积分',width:150},
            {field:'positiondate',title:'发布时间',width:150},
            {field:'positiontop',title:'置顶',width:150,
                formatter:function(value,row,index){
                 /* var ss =  row.positiontop==1 ? "置顶":"取消置顶";*/
                  var zt = "";
                  if (row.positiontop==1) {
                      zt ='<a href="javascript:queryzt('+row.positionid+',2)">取消置顶</a>';
                  }

                  if (row.positiontop!=1) {
                      zt ='<a href="javascript:queryzt('+row.positionid+',1)">置顶</a>';
                  }
                    return /*ss +"&nbsp;" +*/zt;
                }},
            {field:'cz',title:'操作',width:150,
            formatter:function(value,row,index){

                var ck = "";
                ck = '<a href="javascript:ck('+row.positionid+')">查看</a>';

                var b  = '<a href="javascript:enid('+row.positionid+')">修改</a>';
                var a  = '<a href="javascript:del('+row.positionid+')">删除</a>';



            return ck +"&nbsp;"+ a +"&nbsp;"+ b;
            }
            }
        ]
    });
    }
//修改
    function enid(id){
        bootbox.dialog({

            title:'修改订单',
            closeButton: true,
            size: 'large',
            message:createAddContent('../rest/enitRest'),
            buttons:{
                success:{
                    "label" : "保存",
                    "className" : "btn-sm btn-success",
                    "callback":function(){
                       updatePosition();
                        $('#myTable').bootstrapTable('refresh')
                    }
                }
            }
        })
        $.ajax({
            url:'../rest/selectRestId',
            type:'post',
            data:{
                id:id
            },
            dataType:'json',
            success:function(data){
                $("#inputid").val(data.positionid);
                $("#inputpost").val(data.positionpost);
                $("#inputname").val(data.positionname);
                $("#inputcount").val(data.positioncount);
                $("#inputIntegral").val(data.positionIntegral);
                $("#inputdate").val(data.positiondate);
            }
        })
    }


    function queryzt(id,zt){
        $.ajax({
            url:'../rest/zt',
            data:{id:id,zt:zt},
            success:function(){
                $('#myTable').bootstrapTable('refresh')
            }
        })
    }

    function ck(id) {
        $.ajax({
        url:'../rest/querlposition',
        data:{id:id},
        success:function(){
        $('#myTable').bootstrapTable('refresh');

        }
        })
    }


    //删除
    function del(ids){
       $.ajax({
           url:'../rest/deletes',
           data:{ids:ids},
           success:function(){
               $('#myTable').bootstrapTable('refresh')
           }
       })
    }



</script>
</html>